initial_test_environment_backup.py
notes.md
keyboard-shortcuts.txt
note_for_decorator.py
random_notes.py
historical_updates_imgs/
historical_console_prints.txt
test.py
plot_test_backup.py
understanding_notes.txt
ocr_test_1_backup_playground.py
ocr_test_1_backup_2.py
